<nav class="container px-xl-0 px-md-0 px-sm-0">
    <ul class="d-flex">
        <li class="text-center w-30"><a href="" class="border-light  w-100 fs-32 fs-md-24 fs-sm-16 fw-bold py-24 py-md-16">OPTICAL</a></li>
        <li class="text-center w-30"><a href="" class="border-light  w-100 fs-32 fs-md-24 fs-sm-16 fw-bold py-24 py-md-16">SUNGLASSES</a></li>
        <li class="text-center w-30"><a href="" class="border-light  w-100 fs-32 fs-md-24 fs-sm-16 fw-bold py-24 py-md-16">FUNCTIONAL</a></li>
    </ul>
</nav>