.container{
  max-width:1296px;
  margin: 0 auto;
}
.font-custom{
  font-family: 'Roboto', sans-serif;
}
.font-italic{
  font-style: italic;
}
.text-primary{
  color: #650300;
}
.text-secondary{
  color: #AA0601;
}
.text-white{
  color: #fff;
}
.text-light{
  color: #707070;
}
.bg-white{
  background: #fff;
}
.bg-primary{
  background: #AA0601;
}
.bg-secondary{
  background: #FBF2F2;
}

//font-size
.fs-14{
  font-size: 14px;
}
.fs-20{
  font-size: 20px;
}
.fs-36{
  font-size: 36px;
}
.fs-48{
  font-size: 48px;
}
.fs-64{
  font-size: 64px;
}

.fw-bold{
  font-weight: bold;
}
.fw-900{
  font-weight: 900;
}

.w-50{
  width: 49.1879%;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}

.text-center{
  text-align: center;
}
.vertical-middle{
  vertical-align: middle;
}
// spacer
.p-12{
  padding: 12px;
}
.p-16{
  padding: 16px;
}
.ps-12{
  padding-left: 12px;
}
.py-6{
  padding-top: 6px;
  padding-bottom: 6px;
}
.py-12{
  padding-top: 12px;
  padding-bottom: 12px;  
}
.py-16{
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-32{
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-80{
  padding-top: 80px;
  padding-bottom: 80px;
}
.py-296{
  padding-top: 296px;
  padding-bottom: 296px;
}
.pt-32{
  padding-top: 32px;
}
.pt-48{
  padding-top: 48px;
}
.pb-32{
  padding-bottom: 32px;
}

.mt-48{
  margin-top: 48px;
}
.mb-4{
  margin-bottom: 4px;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-24{
  margin-bottom: 24px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-48{
  margin-bottom: 48px;
}
.mb-72{
  margin-bottom: 72px;
}

//border
.border-0{
  border: 0;
}
.border-1{
  border: 1px solid #000000;
}
.border-top{
  border-top: 1px solid #fff;
}

//flex
.d-none{
  display: none;
}
.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.align-items-end{
  align-items: flex-end;
}
.gap-8{
  gap:8px;
}
.gap-20{
  gap:20px;
}
.gap-24{
  gap:24px;
}
.gap-32{
  gap: 32px;
}
.gap-48{
  gap:48px;
}
.gap-64{
  gap: 64px;
}

.size-16{
  width: 16px;
  height: 16px;
}
.size-48{
  width: 48px;
  height: 48px;
}
.size-24{
  width: 24px;
  height: 24px;
}

//custom
.bg-custom{
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true');
  height: calc(100vh - 80px);
  background-size: cover;
  background-position:center;
}
.bg-custom2{
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true');
  height: 608px;
  background-size: cover;
  background-position:center;
}
//component

//btn
.btn{
  padding-top: 6px;
  padding-bottom: 6px;
  color: #fff;
  width: 104px;
  font-size: 20px;
  border: 0;
  cursor: pointer;
}
.btn-primary{
  background: #AA0601;
}
.btn-primary:hover{
  background: #650300;
}

//card
.server-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.611111%;
  img{
    height: 100px;
    width: 100px;
    margin-bottom: 16px;
  }
  h3{
    color: #650300;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;

  }
}
.glasses-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32.0987654%;
}
.cooperate-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

//input
input[type=checkbox]{
  margin: 0;
}

.custom-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.611111%;
  border-radius: 4px;
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
}
@media (max-width:768px){
  .container{
    padding-left: 36px;
    padding-right: 36px;
  }
  .bg-custom2{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true');
    height: 960px;
  }
  .server-card{
    width:47.222222%;
  }
  .glasses-card{
    width: 43.75%;
  }
  .cooperate-card{
    width: 90.625%;
  }
  .custom-card{
    width: 43.75%;
  }
  .flex-md-column{
    flex-direction: column;
  }
  .align-items-md-center{
    align-items: center;
  }
  .flex-md-wrap{
    flex-wrap: wrap;
  }
  .mb-md-24{
    margin-bottom: 24px;
  }
  .w-md-100{
    width: 100%;
  }
  .px-md-96{
    padding-left: 96px;
    padding-right: 96px;
  }
  .gap-md-16{
    gap:16px;
  }
  .size-md-40{
    width: 40px;
    height: 40px;
  }
}
@media(max-width:375px){
  .container{
    padding-left: 12px;
    padding-right: 12px;
  }
  .bg-custom{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true');
    height: 396px;
  }
  .bg-custom2{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true');
    height: 820px;
  }
  .custom-card{
    width: 92.8%;
  }
  .fs-sm-16{
    font-size: 16px;
  }
  .fs-sm-24{
    font-size: 24px;
  }
  .pt-sm-16{
    padding-top: 16px;
  }
  .px-sm-0{
    padding-left: 0;
    padding-right: 0;
  }
  .px-sm-12{
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-sm-24{
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .py-sm-40{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .mb-sm-8{
    margin-bottom: 8px;
  }
  .mb-sm-24{
    margin-bottom: 24px;
  }
  .d-sm-none{
    display: none;
  }
  .d-sm-block{
    display: block;
  }
  .d-sm-flex{
    display: flex;
  }
  .flex-sm-column{
    flex-direction: column;
  }
  .flex-sm-wrap{
    flex-wrap: wrap;
  }
  .w-sm-50{
    width: 50%;
  }
  .gap-sm-0{
    gap:0;
  }
  .border-sm-white{
    outline: 1px solid #fff;
  }
  .server-card{
    width:100%;
  }
  .glasses-card{
    width: 100%;
  }
}

