<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <%- include('./layout/glasses'); -%>
    <div class="d-flex">
        <img src="../assets/images/product-header-1.png" alt="" style="width: 50%;">
        <img src="../assets/images/product-header-2.png" alt="" style="width: 50%;">
    </div>
    <div class="container py-80">
        <h2 class="text-center fw-bold fs-42">Celluloid Combi</h2>
        <p class="text-center fs-32 mb-32">賽璐珞鈦金屬混合鏡框</p>
        <ul class="d-flex flex-wrap gap-custom mb-80 justify-content-center">
            <li class="product-card">
                <img src="../assets/images/product-1.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-2.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-3.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-4.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-5.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-6.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-7.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-8.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-9.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-10.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-11.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
            <li class="product-card">
                <img src="../assets/images/product-12.png" alt="">
                <div class="product-card-content">
                    <p>BJ41600S</p>
                    <p class="product-card-price">NTD3,490</p>
                </div>
                <ul class="product-card-color">
                    <li class="brown-1"></li>
                    <li class="brown-2"></li>
                </ul>
            </li>
        </ul>
        <div class="d-flex justify-content-center">
            <ul class="pagination justify-content-center">
                <li><a href="#">上一頁</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">下一頁</a></li>
            </ul>
        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>